@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

html {
  scroll-behavior: smooth;
}

.dark {
  --color-bg-primary: #2d3748;
  --color-bg-secondary: #17b7a1;
  --color-bg-navbar: #34e8d0d3;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-white: #ecf0f3;
  --color-text-accent: #34e8d0;
  --background-primary: linear-gradient(
    90deg,
    rgb(94, 193, 179) 0%,
    rgb(17, 110, 98) 75%
  );
}

.light {
  --color-bg-primary: #ecf0f3;
  --color-bg-secondary: #5651e5;
  --color-bg-navbar: #5651e5ca;
  --color-text-primary: #374151;
  --color-text-secondary: #4b5563;
  --color-text-white: #ecf0f3;
  --color-text-accent: #5651e5;
  --background-primary: linear-gradient(
    90deg,
    rgb(94, 54, 188) 0%,
    rgb(151, 122, 217) 75%
  );
}

@layer base {
  img {
    @apply object-cover max-w-full block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl text-primary;
  }

  h2 {
    @apply text-3xl sm:text-4xl text-primary py-2 border-b-4 border-secondary;
  }

  h3 {
    @apply text-lg sm:text-xl uppercase font-light text-accent mt-2 tracking-wide;
  }

  h4 {
    @apply text-sm uppercase tracking-widest text-primary font-light;
  }

  li {
    @apply cursor-pointer;
  }

  p {
    @apply text-secondary;
  }
}

section,
header {
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
}

@media screen and (max-width: 1240px) {
  section,
  header {
    width: 95%;
  }
}

/*************
Custom Classes 
*************/

/* Animated Cube */
.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
}

.cube {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: #709dff1b;
  text-align: center;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0px lightyellow;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.face1 {
  transform: translateZ(100px);
  color: #dd0031;
}
.face2 {
  transform: rotateY(90deg) translateZ(100px);
  color: #f06529;
}
.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  color: #28a4d9;
}
.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  color: #5ed4f4;
}
.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  color: #efd81d;
}
.face6 {
  transform: rotateX(-90deg) translateZ(100px);
  color: #ec4d28;
}
